<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><div class="logo-mobile">
        <img src="../../../assets/logo-mobile.svg" alt="logo-mobile" /></div
    ></mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/']">Home</a>
      <a>Menu</a>
      <a>Recompensas</a>
      <a [routerLink]="['/customers']">Customers</a>
      <a [routerLink]="['/shop']">Lojas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <div class="menu-content" *ngIf="isMobileDisplay()">
          <img src="../../../assets/logo-desktop.svg" alt="logo" />
        </div>

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <img src="../../../assets/logo-desktop.svg" alt="logo" />
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
